@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #FF8C00 #343A40; /* For Firefox: thumb color and track color */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;


}

html {
  scroll-behavior: smooth;


}





::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #343A40;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FF8C00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF7F00;
}












#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;








}

.App {

  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;










}












.btn {
  padding: 2px 4px;
  font-weight: 500;
}

.pdf-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-wrapper {
  width: 100%;
  /* Adjust width as needed */
  max-width: 800px;
  /* Max width of the PDF */
  margin: 0 auto;
  /* Center the PDF horizontally */
}

/* Styles for the individual pages */
.react-pdf__Page {
  display: block;
  margin: 0 auto;
  /* Center the page horizontally */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* Add shadow for better visibility */
}

.react-pdf__Page__textContent {
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre-wrap;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transform-origin: 0% 0%;
  cursor: text;
}

.react-pdf__Page__annotations.annotationLayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes updown {
  0% {
    transform: translatey(100%);

    display: none;
  }

  50% {
    transform: translatey(0%);
    display: none;

  }

  100% {
    transform: translatey(100%);
    display: block;

  }
}

.slider {
  width: 100%;


  animation: slider 6s ease-in-out infinite;
}

.down-arrow {
  animation: updown 2s ease infinite;
}