/* import @import tailwind base;
import @import tailwind components;
import @import tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.App{
  /* padding-top: 32px; */
  width: 100vw;
  height: 100vh;
  background-color: #2b2d77;
}
header ul li{
  @apply px-2;
}
.bg-color{
 
  background-color: #2b2d77;
}
.bg-color-2{
  background: rgb(85, 81, 227);
  
}
.mobile-view-nav{
  @apply fixed top-8 left-0 w-full h-1/5  bg-gray-800 ;
  ;

}
.mobile-view-nav li{
  @apply  border-b-2 w-full h-full flex align-middle justify-center m-0 ;
}
.about img {
  max-width: 400px;
}
.btn{
  padding: 2px 4px ;
  font-weight: 500;
}
html{
  scroll-behavior: smooth;
}
/* pdfStyles.css */

.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
